﻿<link href="~/Styles/bootstrap.min.css" rel="stylesheet" />

@model IEnumerable<JST_DeDo.Models.FdStatu>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Status Name")
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StatusId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
