﻿@model JST_DeDo.Models.FdGroup

<link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Group</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.DisplayName("Group Name")
            <div class="col-md-10">
                @Html.EditorFor(model => model.GrName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GrName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayName("Group Order")
            <div class="col-md-10">
                @Html.EditorFor(model => model.GrOrder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GrOrder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayName("Group Status")
            <div class="col-md-10">
                @Html.DropDownList("GrStatus", new List<SelectListItem>
                {
                  new SelectListItem{ Text = "Enabled", Value = "1" },
                  new SelectListItem{ Text = "Disabled", Value = "0" }
                }, new { htmlAttributes = new { @class = "form-control" } }
                )
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary btn-xs"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
