﻿<link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@model IEnumerable<JST_DeDo.Models.FdGender>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Gender Name")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GenName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GenId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
