﻿<link href="~/Styles/fdiaryGrid.css" rel="stylesheet" />
<link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<style>
    .table-striped > tbody > tr:nth-child(odd) > td
    {
        background-color: #F7F7DE;
    }
</style>

@model IEnumerable<JST_DeDo.Models.Event>

@*<div class="container">*@
<title>Events List</title>
<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @{
        string strBack = "<a href=\"../../ToDo.aspx\">Back</a>";
        @Html.Raw(strBack)
    }
</p>
<div class="table-responsive">
    <table class="myGridCCS table table-striped" cellspacing="1" cellpadding="1" border="0">
        @*<div class="table-responsive">
            <table class="table table-hover">*@
        <tr style="background-color: #6B696B; text-align: center;">
            <th>
            </th>
            <th style="color:#ffffff;">
                @Html.DisplayName("Id")
            </th>
            <th style="color:#ffffff;">
                @Html.DisplayName("Frecuency")
            </th>
            <th style="color:#ffffff;">
                @Html.DisplayName("Event Start")
            </th>
            <th style="color:#ffffff;">
                @Html.DisplayName("Event End")
            </th>
            <th style="color:#ffffff;">
                @Html.DisplayName("Subject")
            </th>
            <th style="color:#ffffff;">
                @Html.DisplayName("Status")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*if (@DateTime.Now <= @item.event_end.Value)
                        {
                    <tr>
                        }else{
                    <tr>
                        }*@

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.event_id })*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fdiary.FdId)/@Html.DisplayFor(modelItem => item.event_id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FdFrequencyName)
                </td>
                <td>
                    @if (item.event_start.HasValue)
                    {
                        @item.event_start.Value.ToString("MM/dd/yyyy hh:mm tt")
                    }
                </td>
                <td>
                    @if (item.event_end.HasValue)
                    {
                        @item.event_end.Value.ToString("MM/dd/yyyy hh:mm tt")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fdiary.FdSubject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idStatus)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.event_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.event_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.event_id })
                    </td>*@
            </tr>
        }

    </table>
</div>
@*</div>*@