﻿@model JST_DeDo.Models.FdTimeZone

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>TimeZone</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.DisplayName("Short Name")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TzName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TzName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayName("Full Name")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TzFullName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TzFullName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayName("Status 1)Enabled 0)Disabled")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TzActive, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TzActive, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayName("Order")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TzOrder, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TzOrder, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary btn-xs" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
