﻿<link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jquery-3.2.1.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="~/Scripts/Bs3/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/JSTDeDo.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

<link href="~/Styles/Bs3/bootstrap.min.css" rel="stylesheet" />
<link href="~/Styles/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/Styles/fdiaryGrid.css" rel="stylesheet" />
<link href="~/Styles/pagination-ys.css" rel="stylesheet" />
@model JST_DeDo.Models.FdClaimDetail


@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="container">
        <h2>Claim Detail.</h2>
         <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row">
                    <div class="col-md-12 col-md-offset-0">
                        <div class="card">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                @Html.ActionLink("Back to List", "Index")
                                <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-body">

                <table class="table table-borderless" id="TblClaim1">
                    <thead>
                        <tr>
                            <th>
                                Lia
                            </th>
                            <th>
                                PD
                            </th>
                            <th>
                                Cargo
                            </th>
                            <th style="width: 212px">
                                Claim Num
                            </th>
                            <th>
                                Intake WIP
                            </th>
                            <th>
                                Open Close Status
                            </th>
                            <th>
                                Examiner Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.Lia, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.Lia, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.PD, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.PD, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.Cargo, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes", } })
                                    @Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.claim_num, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.claim_num, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.IntakeWIP_, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.IntakeWIP_, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.open_close_status, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.open_close_status, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.examiner_name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.examiner_name, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <table class="table table-borderless" id="TblClaim1">
                    <thead>
                        <tr>
                            <th>
                                Policy Number
                            </th>
                            <th>
                                Policy Effective Date
                            </th>
                            <th>
                                Policy State
                            </th>
                            <th>
                                Claim State
                            </th>
                            <th>
                                Reserves Indemnity
                            </th>
                            <th>
                                Reserves LAE
                            </th>
                            <th>
                                Assigned to DC
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.policy_num, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.policy_num, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.Policy_Effective_Date, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.Policy_Effective_Date, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.holder_state, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.holder_state, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.controlling_state, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.controlling_state, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.sum_loss_amt, new { htmlAttributes = new { @id = "sum_loss_amt", @disabled = "disabled", @class = "form-control", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.sum_loss_amt, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.sum_alae_amt, new { htmlAttributes = new { @id = "sum_alae_amt", @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.sum_alae_amt, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.Assigned_to_DC_Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.Assigned_to_DC_Name, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-borderless" id="TblClaim2">
                    <thead>
                        <tr>
                            <th>
                                Assigned to DC
                            </th>
                            <th>
                                DCC/LAE
                            </th>
                            <th>
                                Roundtable
                            </th>
                            <th>
                                Settlements
                            </th>
                            <th>
                                Claimant Name
                            </th>
                            <th>
                                Named Insured/DBA
                            </th>
                            <th>
                                Broker Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.Assigned_to_DC_Date, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    <input type="text" name="username" class="form-control" readonly="readonly"><br>
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.FdRoundTableC, new { htmlAttributes = new { @class = "form-control", @placeholder = "Y/N", maxlength = 1 } })
                                    @Html.ValidationMessageFor(model => model.FdRoundTableC, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    <input type="text" name="username" class="form-control" readonly="readonly"><br>
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.ClaimantName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.ClaimantName, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.NameINs_DBA, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.NameINs_DBA, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.BrokerName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @placeholder = "Yes" } })
                                    @Html.ValidationMessageFor(model => model.BrokerName, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-borderless" id="TblClaim3">
                    <thead>
                        <tr>
                            <th style="width:17%">
                                Assigned to Accident Reconstructions
                            </th>
                            @*<th>
                                Phone calls In
                            </th>
                            <th>
                                Phone calls Out
                            </th>
                            <th>
                                Emails In
                            </th>
                            <th>
                                Emails Out
                            </th>*@
                            <th>
                                Remarks
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.FdAssignedAccdReconC, new { htmlAttributes = new { @class = "form-control", @placeholder = "Y/N", maxlength = 1 } })
                                    @Html.ValidationMessageFor(model => model.FdAssignedAccdReconC, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            @*<td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.FdPhoneCallsInC, new { htmlAttributes = new { @class = "form-control", @placeholder = 0, @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.FdPhoneCallsInC, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.FdPhoneCallsOutC, new { htmlAttributes = new { @class = "form-control", @placeholder = 0, @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.FdPhoneCallsOutC, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.FdEmailsInC, new { htmlAttributes = new { @class = "form-control", @placeholder = 0, @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.FdEmailsInC, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.FdEmailsOutC, new { htmlAttributes = new { @class = "form-control", @placeholder = 0, @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.FdEmailsOutC, "", new { @class = "text-danger" })
                                </div>
                            </td>*@
                            <td>
                                <div class="input-group margin">
                                    @Html.EditorFor(model => model.FdRemarksC, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                                    @Html.ValidationMessageFor(model => model.FdRemarksC, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group margin">

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.claim_num)
        @Html.HiddenFor(model => model.claim_id)
        @Html.HiddenFor(model => model.user_id)
        @Html.HiddenFor(model => model.log_datetime)
        @Html.HiddenFor(model => model.examiner_name)
        @Html.HiddenFor(model => model.IntakeWIP_)
        @Html.HiddenFor(model => model.open_close_status)
        @Html.HiddenFor(model => model.LIA_PD_CARGO)
        @Html.HiddenFor(model => model.Lia)
        @Html.HiddenFor(model => model.Cargo)
        @Html.HiddenFor(model => model.policy_num)
        @Html.HiddenFor(model => model.Policy_Effective_Date)
        @Html.HiddenFor(model => model.holder_state)
        @Html.HiddenFor(model => model.controlling_state)
        @Html.HiddenFor(model => model.NameINs_DBA)
        @Html.HiddenFor(model => model.BrokerName)
        @Html.HiddenFor(model => model.ClaimantName)
        @Html.HiddenFor(model => model.Assigned_to_DC_Name)
        @Html.HiddenFor(model => model.Assigned_to_DC_Date)
        @Html.HiddenFor(model => model.sum_alae_amt)
        @Html.HiddenFor(model => model.sum_loss_amt)
        @Html.HiddenFor(model => model.sum_alae_amtNegative)
        @Html.HiddenFor(model => model.sum_alae_amtPositive)
        @Html.HiddenFor(model => model.sum_loss_amtNegative)
        @Html.HiddenFor(model => model.sum_loss_amtPositive)
        @Html.HiddenFor(model => model.PD)
        @Html.HiddenFor(model => model.diff_day)
        @Html.HiddenFor(model => model.diff_date)
        @Html.HiddenFor(model => model.map_date)
        @Html.HiddenFor(model => model.sync_date)
        @Html.HiddenFor(model => model.sync_status)
        @Html.HiddenFor(model => model.log_datetime_id)
        @Html.HiddenFor(model => model.claim_task)
        @Html.HiddenFor(model => model.handler_id)
        @Html.HiddenFor(model => model.touch_user_id)
        @Html.HiddenFor(model => model.touch_claim_name)

        @Html.HiddenFor(model => model.Assigned_to_DC_Name)
        @Html.HiddenFor(model => model.Assigned_to_DC_Date)
    </div>


    }


</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sum_loss_amt').mask('#,##0.00', { reverse: true }).val('$ ' + $('#sum_loss_amt').val());
        $('#sum_alae_amt').mask('#,##0.00', { reverse: true }).val('$ ' + $('#sum_alae_amt').val());
    });
</script>