﻿<link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@model IEnumerable<JST_DeDo.Models.FdCategory>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Add New", "Create")
    </p>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayName("Category Name")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CatName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CatId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
